<% include header.html %>
<h1>Welcome <%= user.username %>, to Modify Request!!!</h1>
<a class="btn" href="/logout">Logout</a>
<div class="container-fluid">
<div class="row-fluid">
	<div class="span4"></div>
	<div class="span8">
<form class="form-horizontal well" method="GET">
	<fieldset>
	
		<div class="control group">
		<label class="control-label" for="store_quota">Storage Quota: </label>
		<div class="controls">
		<input type="text" id="store_quota" name="store_quota" value="<%= quota.store_quota %>">
		<span class="help-inline">Currently, <%= quota.store_vm %> VMs are deployed</span>
		</div>
	</div>

	
		<div class="control group">
		<label class="control-label" for="run_quota">Running Quota: </label>
		<div class="controls">
		<input type="text" id="run_quota" name="run_quota" value="<%= quota.run_quota %>">
		<span class="help-inline">Currently, <%= quota.run_vm %> VMs are running</span>
		</div>
	</div>

		<div class="control-group">
		<label class="control-label" for="vmname">VM Name: </label>
		<div class="controls">
		<select name="type" id="vm-selector" class="selectpicker show-tick" data-size="5">
			<% for(var i = 0; i < vm_array.length; ++i) {%>
			<option><%= vm_array[i].vm_name %></option>
			<% } %>
		</select>
		</div>
	</div>

		<div class="control group">
		<label class="control-label" for="cpu">CPU: </label>
		<div class="controls">
		<input type="text" id="run_quota" name="run_quota" value="">
		</div>
	</div>

	
		<div class="control group">
		<label class="control-label" for="memory">Memory: </label>
		<div class="controls">
		<input type="text" id="run_quota" name="run_quota" value="" add-on="GB">
		</div>
	</div>

	
		<div class="control group">
		<label class="control-label" for="disk">Disk1: </label>
		<div class="controls">
		<input type="text" id="run_quota" name="run_quota" value="">
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Submit</button>
		<button class="btn">Cancel</button>
	</div>

</fieldset>
</form>

</div>
</div>
<% include footer.html %>

<script type="text/javascript">
(function () {
//下拉菜单
$('.selectpicker').selectpicker({noneSelectedText:'Select your power-off VM'});
$('.selectpicker').selectpicker('val',$('.selectpicker').attr('value'));
})();

var quota = <%= quota.store_quota %>;
var vm_array = JSON.parse(<%= vm_array[0] %>);


function setOptions(vm_array){
	var selector = $("#vm-selector");
	selector.find("option").each(function(){
		$(this).remove();
	});
	//var options = "<option value='0'">move to group</option>;
	for(var i=0;i<vm_array.length;i++){
		var vm = vm_array[i];
		var name = vm.vm_name;
		var id = vm.vm_id;
		options+="<option value="+id+">"+name+"</options>";
	}
	selector.append(options);
}

//setOptions(<%- vm_array %>);
</script>

